*{
    box-sizing: border-box;
}


.image{
    background-image:  url('./img/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(100%);
    
}




.contenido{
    border:solid red 3px ;    
    height: 400px;
    width: 25%;
    margin: auto;
    z-index: 3;
    

}

.texto{
    border:solid red 3px ; 
    padding: 10px ;
     width: 100%;
}
