*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}


header {
    background-color: #b1e8ef;
    padding: 30px;
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}
.img{
    cursor: pointer;
}
#busqueda{
    height: 30px;
    width: 400px;
}
#busqueda-dos{
    
    width: 40%;
    margin: auto;
    visibility: hidden;
    margin-top:25px;
    display: flex;
}
.btn{
    right: 30px;
    top: 5px;
    color: #000000;
    text-align: center;
    padding: 15px 15px;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(38, 0, 255, 0.329);
    border-radius: 15px;
    cursor: pointer;

}
.btn:hover{
    background-color:rgb(56, 189, 223);
    color: rgb(255, 255, 255);
}
/* barra de navegacion */
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
}
.fa-bars{
    position: absolute;
    font-size: 0px; 
    visibility: collapse;
    z-index: 0;     
}
.list{
    z-index: 1;
    list-style-type: none;/*  */
}
.list li{
    float: left;
}
.list li>a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
} 
.list a:hover {
    background-color: #1dc3dd;
}

/* containers  de videos*/

.container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    overflow: auto;
    padding: 15px;
}
.card {
    display: flex;
    background-color: #656565;
    border: 2px solid #696969; 
    
}
.card:hover{
    transform: scale(1.07); 
}
.card-img {
    width: 50%;
    height: 250px;
    border-radius: 25px 0px 0px 25px;
}
.card-info {
    padding: 16px;
    min-width: 300px;
    width: 500px;
}
.card-title {
    font-size: 1.5em;
    margin: 10px -15px;
    color: #ffffff;
    text-align: center;
}
.card-subtitle{
    font-size: 1em;
    color: #115d80;
}
.card-text {
    font-size: 1em;
    color: #ffffff;
    margin: 0 0 20px;
} 

footer {
    background-color: #777;
    padding: 80px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: white;
}
.nosotros{
    border: 2px solid gray;
    padding: 8px;
    margin-bottom: 10px ;
    cursor: pointer;
}
#redes{
    color: #1dc3dd;
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    *{ 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
    }

    .hamb{
        position: absolute;
    }
    .hamb>i{
        width: 10%;
        padding: 20px;
        justify-content: center;
        
        margin: auto;
        display: flex;
    }
    .fa-bars{
        font-size: 40px;
        padding-top: 15px;
        margin: auto;
        text-align: center;
        justify-content: center;
        visibility: visible;
        justify-content: center;
        margin: auto;
    }
    .fa-bars:hover{
        color: #00e6e6;
        
    }
    .list{
        border: 2px solid rgb(48, 48, 48);
        visibility: collapse;
        width: 0px;
    }
    

    #redes{
        width: 80%;
        margin: 10px auto;
       
       justify-content: center;
    }


}